<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="GoBarber"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDelivery"
        tools:targetApi="31">

        <activity
            android:name=".view.AlterarAgendamentoActivity"
            android:exported="false" />
        <activity
            android:name=".view.AgendamentoActivity"
            android:exported="false" />
        <activity
            android:name=".view.ClientesBarbeiroActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardClientActivity"
            android:exported="false" />
        <activity
            android:name=".view.CreateStoreActivity"
            android:exported="false" />
        <activity
            android:name=".view.BarberDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".controller.ChooseOption"
            android:exported="false" />

        <activity
            android:name=".view.ConfirmationActivity"
            android:exported="false"
            android:theme="@style/AppThemeNoActionbar" />

        <activity
            android:name=".view.ConfirmationAgendamentoActivity"
            android:exported="false"
            android:theme="@style/AppThemeNoActionbar" />

        <activity
            android:name=".view.BarberClientsActivity"
            android:parentActivityName=".view.BarberDashboardActivity"/>

        <activity
            android:name=".controller.MainMenu"
            android:theme="@style/Theme.AppDelivery.NoActionBar" />

        <activity android:name=".view.TransparentStatusBarActivity" />

        <activity
            android:name=".view.TermsConditionsActivity"
            android:theme="@style/Theme.AppDelivery.NoActionBar" />

        <activity
            android:name=".view.MainActivity"
            android:theme="@style/Theme.AppDelivery.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>